---
title: "Signature"
preheader: ""
bodyClass: bg-white
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center">
          <table class="w-600 py-16 sm:w-full">
            <tr>
              <td align="center" class="sm:px-16">
                <table class="w-full">
                  <tr>
                    <td class="text-black font-light px-24 sm:px-8">
                      <p class="m-0 mb-4 font-bold uppercase">
                        Patrik Vaďura
                      </p>

                      <p class="m-0 text-sm uppercase">
                        Design & web development
                      </p>

                      <p class="text-sm font-bold text-primary">
                        <span class="borderContact">
                          +420 725 007 655
                        </span>

                        <span class="borderContact">
                          vadura@finommedia.cz
                        </span>

                        <span class="borderContact">
                          patrikvadura.cz
                        </span>

                        <span class="ml-2 sm:block sm:mt-8">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_fb_gmpsgi.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_li_youztx.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_ig_udvsgw.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237020/finom_email-signature/icons/icon_tw_ro7ora.png" width="14px">
                        </span>

                      </p>
                    </td>
                  </tr>
                </table>

                <table class="w-600 pb-16 sm:w-full">
                  <tr>
                    <td class="w-1/6 pl-24 text-black font-light sm:w-1/4 sm:px-8">
                      <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636235405/finom_email-signature/email_profile_vadura_gzafhw.png" width="70px">
                    </td>

                    <td class="w-5/6 pl-16 text-black font-light sm:w-3/4">
                      <p class="mb-4 text-sm font-bold uppercase">
                        Finom Group a.s.
                      </p>

                      <p class="m-0 text-sm">
                        Stojanova 1334  |  686 01 Uherské Hradiště |  info@finomgroup.cz
                      </p>

                      <p class="font-medium text-primary uppercase sm:text-sm sm:font-bold">
                        WWW.FINOMGROUP.CZ
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
