---
title: "Signature"
preheader: ""
bodyClass: bg-white
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-600 font-sans p-16 sm:w-full">
      <tr>
        <td align="center">
          <table class="w-600 sm:w-full mb-24">
            <tr>
              <td class="text-black contentLink font-light pb-24 px-0 sm:px-0" style="border-bottom: 1px solid #E8E7E4!important;">
                <p class="m-0 mb-16 font-bold">
                  Dobrý den,
                </p>

                <p class="m-0 text-base contentLink">
                  zde obsah vaší zprávy.
                </p>
              </td>
            </tr>
          </table>

          <table class="w-full" role="separator">
            <tr>
              <td class="leading-16">&zwnj;</td>
            </tr>
          </table>

          <table class="w-600 sm:w-full">
            <tr>
              <td class="w-1/6 pl-0 text-black font-light sm:w-1/4 sm:px-0">
                <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641551789/finom_email-signature/logo/logo_finom-finance_avt34z.png" width="80" style="width: 80px!important;">
              </td>
            </tr>
          </table>

          <table class="w-600 sm:w-full" role="separator">
            <tr>
              <td class="leading-8">&zwnj;</td>
            </tr>
          </table>


          <table class="w-600 sm:w-full">
            <tr>
              <td class="text-black font-light px-0 sm:px-0">
                <p class="m-0 mb-4 font-bold uppercase" style="line-height: 2.5rem!important;">
                  Radim Antonovič
                </p>

                <p class="m-0 font-light text-xs uppercase" style="letter-spacing: 1px!important;">
                  SALES DIRECTOR | PARTNER
                </p>

                <p class="text-sm font-bold finom_group">
                  <a href="tel:+420 725 007 655;" class="text-finom_finance financeLinks" style="color: #D09124!important; text-decoration: none!important; font-family: 'Lato', Helvetica, Arial, sans-serif !important;">
                    +420 725 007 655 |
                  </a>

                  <a href="mailto:vadura@finommedia.cz;" class="text-finom_finance financeLinks" style="color: #D09124!important; text-decoration: none!important; font-family: 'Lato', Helvetica, Arial, sans-serif !important;">
                    antonovic@finomgroup.cz |
                  </a>

                  <a href="https://www.finom.cz" class="text-finom_finance financeLinks" style="color: #D09124!important; text-decoration: none!important; font-family: 'Lato', Helvetica, Arial, sans-serif !important;">
                    finom.cz |
                  </a>

                  <span class="ml-2 sm:block sm:mt-8">
                    <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_fb_gmpsgi.png" width="14" style="width: 14px!important;">
                    <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_li_youztx.png" width="14" style="width: 14px!important;">
                    <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_ig_udvsgw.png" width="14" style="width: 14px!important;">
                    <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237020/finom_email-signature/icons/icon_tw_ro7ora.png" width="14" style="width: 14px!important;">
                  </span>

                </p>
              </td>
            </tr>
          </table>

          <table class="w-600 sm:w-full" role="separator">
            <tr>
              <td class="leading-8">&zwnj;</td>
            </tr>
          </table>

          <table class="w-600 sm:w-full">
            <tr>
              <td class="w-1/6 pl-0 text-black font-light sm:w-1/4 sm:px-0">
                <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641814098/finom_email-signature/profile-antonovic_xmgirb.png" width="70" style="width: 70px!important;">
              </td>

              <td class="w-5/6 pl-0 text-gray-300 text-xs sm:w-3/4">
                <p class="mb-4 font-bold uppercase">
                  Finom finance & invest s.r.o.
                </p>

                <p class="m-0">
                  Stojanova 1334  |  686 01 Uherské Hradiště | <a href="mailto:info@finom.cz;" class="grayLinks" style="color: #A2A0A0!important; text-decoration: none!important;">info@finom.cz</a>
                </p>

                <p class="font-medium text-sm uppercase">
                  <a href="https://finom.cz"
                     class="grayLinks"
                     style="color: #A2A0A0!important; text-decoration: none!important; font-family: 'Lato', Helvetica, Arial, sans-serif !important;">
                    WWW.FINOM.CZ
                  </a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
