---
title: "Signature"
preheader: ""
bodyClass: bg-white
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center">
          <table class="w-600 py-16 sm:w-full">
            <tr>
              <td align="center" class="sm:px-0">
                <table class="w-full mb-24">
                  <tr>
                    <td class="text-black font-light pb-24 px-0 sm:px-0" style="border-bottom: 1px solid #E8E7E4;">
                      <p class="m-0 mb-16 font-bold">
                        Dobrý den,
                      </p>

                      <p class="m-0 text-sm">
                        zde obsah vaší zprávy.
                      </p>
                    </td>
                  </tr>
                </table>

                <table class="w-full mt-32">
                  <tr>
                    <td class="text-black font-light px-0 sm:px-0">
                      <p class="m-0 mb-4 font-bold uppercase">
                        Patrik Vaďura
                      </p>

                      <p class="m-0 text-sm uppercase">
                        Design & web development
                      </p>

                      <p class="text-sm font-bold text-primary">
                        <a href="tel:+420 725 007 655;" class="borderContact text-primary" style="color: #b29f80!important; text-decoration: none!important;">
                          +420 725 007 655
                        </a>

                        <a href="mailto:vadura@finommedia.cz;" class="borderContact text-primary" style="color: #b29f80!important; text-decoration: none!important;">
                          vadura@finommedia.cz
                        </a>

                        <a href="" class="borderContact text-primary" style="color: #b29f80!important; text-decoration: none!important;">
                          patrikvadura.cz
                        </a>

                        <span class="ml-2 sm:block sm:mt-8">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_fb_gmpsgi.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_li_youztx.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237019/finom_email-signature/icons/icon_ig_udvsgw.png" width="14px">
                          <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636237020/finom_email-signature/icons/icon_tw_ro7ora.png" width="14px">
                        </span>

                      </p>
                    </td>
                  </tr>
                </table>

                <table class="w-600 pb-16 mt-8 sm:w-full">
                  <tr>
                    <td class="w-1/6 pl-0 text-black font-light sm:w-1/4 sm:px-0">
                      <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1636285573/finom_email-signature/email_profile_bw_vadura_oa3m8k.png" width="70px">
                    </td>

                    <td class="w-5/6 pl-0 text-black font-light sm:w-3/4">
                      <p class="mb-4 text-sm font-bold uppercase">
                        Finom Group a.s.
                      </p>

                      <p class="m-0 text-sm">
                        Stojanova 1334  |  686 01 Uherské Hradiště | <a href="mailto:info@finomgroup.cz;" style="color: #262626!important; text-decoration: none!important;">info@finomgroup.cz</a>
                      </p>

                      <p class="font-medium text-primary uppercase sm:text-sm sm:font-bold">
                        <a href="https://patrikvadura.cz"
                           class="text-primary"
                           style="color: #b29f80!important; text-decoration: none!important;">
                          WWW.FINOMGROUP.CZ
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
